{{userslist}}

<div>
  <div class="align-left">
    <chart [options]="options2" (selection)="onChartSelection($event)"></chart>
  </div>
  <div class="align-left">
    <p>selection from <b>{{from}}</b> to <b>{{to}}</b></p>
    <chart [options]="options" (selection)="onChartSelection($event)"> </chart>
  </div>
  <div class="align-left">
    <chart [options]="options3" (selection)="onChartSelection($event)"> </chart>
  </div>
  <div class="align-left">
    <chart [options]="options4" (selection)="onChartSelection($event)"> </chart>
  </div>
</div>
<button (click)=fetchdynamicdata()>GET Data :</button>


<!--{{JSON.stringify(userslist)}}-->


<!--<chart [options]="options" (load)="saveInstance($event.context)">
</chart>-->
