/*td{
    background-color: aquamarine;
    display: table-cell;
    vertical-align: inherit;
}*/
/*table, th, td {
   border: 1px solid black;
}*/
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    font-style: italic
}
table {
    width: 20%;
}
